.carousel
    height: 400px
    padding: 10px 0
    .carousel-item
        img
            margin: 30px auto
    .carousel-control-prev-icon, .carousel-control-next-icon
        background-color: $main-color
        width: 50px
        height: 80px