.main
    height: 100vh
    background-color: 
    background: url(../img/main__bg.jpg) left no-repeat, #000000
    color: #ffffff
    &__content
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 15%
        width: 300px
        text-align: right
        h1
            font-size: 55px
        span
            color: $yellow
            font-size: 25px
