.header
    position: fixed
    top: -10px
    padding: 5px 0
    width: 100%
    height: 50px
    z-index: 100
    .navbar
        background-color: rgba(0, 0, 0, .8)
        padding: 5px 50px 
        .collapse
            justify-content: flex-end
        a, .nav-link
            color: #ffffff
            &:active
                color: $yellow
            &:hover, 
                color: $yellow
                &::before
                    position: absolute
                    top: 0
                    content: ''
                    width: 50px
                    border-top: 2px solid $yellow
        .dropdown-menu
            background-color: rgba(0, 0, 0, .8)
            .dropdown-item
                &:active
                    background-color: $yellow 
                    color: $black
        .active
            .nav-link
                color: $yellow

        .line
            display: block
            height: 10px
            border-top: 2px solid #ffffff
                    