.questions
    height: 500px
    .accordion
        margin: 25px 0 0
        .card
            .btn-link
                font-size: 25px
                color: $main-color
                text-decoration: none